@model EmployeeManagement.ViewModels.HomeDetailsViewModel

@{
    Layout = "_Layout";
    ViewBag.Title = "Employee Details";
}

<h3>@Model.PageTitle</h3>
<p>Name: @Model.Employee.Name</p>
<p>Email: @Model.Employee.Email</p>
<p>Department: @Model.Employee.Department</p>